<robot name="fr3c_dual">
  <link name="world" />
  <link name="left_base_link">
    <inertial>
      <origin xyz="-1.5389E-05 0.0050006 0.035726" rpy="0 0 0" />
      <mass value="0.60007" />
      <inertia ixx="0.00077666" ixy="5.901E-07" ixz="4.3886E-07" iyy="0.00066312" iyz="-1.924E-05" izz="0.00080686" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="left_shoulder_Link">
    <inertial>
      <origin xyz="-0.00016 -0.01399 0.00153" rpy="0 0 0" />
      <mass value="1.69" />
      <inertia ixx="0.00230233" ixy="0.00000796" ixz="0.00000988" iyy="0.00172232" iyz="0.00003216" izz="0.00230714" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/shoulder_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_j1" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="left_base_link" />
    <child link="left_shoulder_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.0543" upper="3.0543" effort="110" velocity="3.15" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="left_upperarm_Link">
    <inertial>
      <origin xyz="0.14 0 0.10134" rpy="0 0 0" />
      <mass value="3.73" />
      <inertia ixx="0.00529686" ixy="0.00005608" ixz="0.00000013" iyy="0.07120429" iyz="0.00000005" izz="0.06998187" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/upperarm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_j2" type="revolute">
    <origin xyz="0 0 0.14" rpy="1.5708 0 0" />
    <parent link="left_shoulder_Link" />
    <child link="left_upperarm_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-4.6251" upper="1.4835" effort="110" velocity="3.15" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="left_forearm_Link">
    <inertial>
      <origin xyz="0.06324 0.00008 0.01104" rpy="0 0 0" />
      <mass value="1.84" />
      <inertia ixx="0.00224646" ixy="0.00000255" ixz="0.00000765" iyy="0.01764629" iyz="0.00000075" izz="0.01732032" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/forearm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_j3" type="revolute">
    <origin xyz="-0.28 0 3.3292E-05" rpy="0 0 0" />
    <parent link="left_upperarm_Link" />
    <child link="left_forearm_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="110" velocity="3.15" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="left_wrist1_Link">
    <inertial>
      <origin xyz="0.0001 -0.00203 0.01255" rpy="0 0 0" />
      <mass value="1.2" />
      <inertia ixx="0.00131806" ixy="-0.00000258" ixz="-0.00000247" iyy="0.00130342" iyz="-0.00002666" izz="0.0009916" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/wrist1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_j4" type="revolute">
    <origin xyz="-0.24 0 2.7002E-05" rpy="0 0 0" />
    <parent link="left_forearm_Link" />
    <child link="left_wrist1_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-4.6251" upper="1.4835" effort="63" velocity="3.2" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="left_wrist2_Link">
    <inertial>
      <origin xyz="-0.0001 0.00203 0.01255" rpy="0 0 0" />
      <mass value="1.2" />
      <inertia ixx="0.00131806" ixy="-0.00000258" ixz="0.00000247" iyy="0.00130342" iyz="0.00002666" izz="0.0009916" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/wrist2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_j5" type="revolute">
    <origin xyz="1.1476E-05 0 0.102" rpy="1.5708 0 0" />
    <parent link="left_wrist1_Link" />
    <child link="left_wrist2_Link" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="6.2657" effort="63" velocity="3.2" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="left_wrist3_Link">
    <inertial>
      <origin xyz="-0.00148 -0.00154 -0.0179" rpy="0 0 0" />
      <mass value="0.53" />
      <inertia ixx="0.00033622" ixy="0.00000116" ixz="0.00000051" iyy="0.00033508" iyz="0.00000089" izz="0.00053494" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/wrist3_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_j6" type="revolute">
    <origin xyz="1.1255E-05 0.1 0.102" rpy="-1.5708 0 0" />
    <parent link="left_wrist2_Link" />
    <child link="left_wrist3_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.0543" upper="3.0543" effort="63" velocity="3.2" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="left_wrist3_to_tool0" type="fixed">
    <parent link="left_wrist3_Link" />
    <child link="left_tool0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="left_tool0" />
  <joint name="world_to_left_base" type="fixed">
    <parent link="world" />
    <child link="left_base_link" />
    <origin xyz="0 0.275 0" rpy="0 0 3.141592653589793" />
  </joint>
  <link name="right_base_link">
    <inertial>
      <origin xyz="-1.5389E-05 0.0050006 0.035726" rpy="0 0 0" />
      <mass value="0.60007" />
      <inertia ixx="0.00077666" ixy="5.901E-07" ixz="4.3886E-07" iyy="0.00066312" iyz="-1.924E-05" izz="0.00080686" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="right_shoulder_Link">
    <inertial>
      <origin xyz="-0.00016 -0.01399 0.00153" rpy="0 0 0" />
      <mass value="1.69" />
      <inertia ixx="0.00230233" ixy="0.00000796" ixz="0.00000988" iyy="0.00172232" iyz="0.00003216" izz="0.00230714" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/shoulder_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_j1" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="right_base_link" />
    <child link="right_shoulder_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.0543" upper="3.0543" effort="110" velocity="3.15" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_upperarm_Link">
    <inertial>
      <origin xyz="0.14 0 0.10134" rpy="0 0 0" />
      <mass value="3.73" />
      <inertia ixx="0.00529686" ixy="0.00005608" ixz="0.00000013" iyy="0.07120429" iyz="0.00000005" izz="0.06998187" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/upperarm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_j2" type="revolute">
    <origin xyz="0 0 0.14" rpy="1.5708 0 0" />
    <parent link="right_shoulder_Link" />
    <child link="right_upperarm_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-4.6251" upper="1.4835" effort="110" velocity="3.15" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_forearm_Link">
    <inertial>
      <origin xyz="0.06324 0.00008 0.01104" rpy="0 0 0" />
      <mass value="1.84" />
      <inertia ixx="0.00224646" ixy="0.00000255" ixz="0.00000765" iyy="0.01764629" iyz="0.00000075" izz="0.01732032" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/forearm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_j3" type="revolute">
    <origin xyz="-0.28 0 3.3292E-05" rpy="0 0 0" />
    <parent link="right_upperarm_Link" />
    <child link="right_forearm_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="110" velocity="3.15" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_wrist1_Link">
    <inertial>
      <origin xyz="0.0001 -0.00203 0.01255" rpy="0 0 0" />
      <mass value="1.2" />
      <inertia ixx="0.00131806" ixy="-0.00000258" ixz="-0.00000247" iyy="0.00130342" iyz="-0.00002666" izz="0.0009916" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/wrist1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_j4" type="revolute">
    <origin xyz="-0.24 0 2.7002E-05" rpy="0 0 0" />
    <parent link="right_forearm_Link" />
    <child link="right_wrist1_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-4.6251" upper="1.4835" effort="63" velocity="3.2" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_wrist2_Link">
    <inertial>
      <origin xyz="-0.0001 0.00203 0.01255" rpy="0 0 0" />
      <mass value="1.2" />
      <inertia ixx="0.00131806" ixy="-0.00000258" ixz="0.00000247" iyy="0.00130342" iyz="0.00002666" izz="0.0009916" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/wrist2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_j5" type="revolute">
    <origin xyz="1.1476E-05 0 0.102" rpy="1.5708 0 0" />
    <parent link="right_wrist1_Link" />
    <child link="right_wrist2_Link" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="6.2657" effort="63" velocity="3.2" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_wrist3_Link">
    <inertial>
      <origin xyz="-0.00148 -0.00154 -0.0179" rpy="0 0 0" />
      <mass value="0.53" />
      <inertia ixx="0.00033622" ixy="0.00000116" ixz="0.00000051" iyy="0.00033508" iyz="0.00000089" izz="0.00053494" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="fr3c_stl/wrist3_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_j6" type="revolute">
    <origin xyz="1.1255E-05 0.1 0.102" rpy="-1.5708 0 0" />
    <parent link="right_wrist2_Link" />
    <child link="right_wrist3_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.0543" upper="3.0543" effort="63" velocity="3.2" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="right_wrist3_to_tool0" type="fixed">
    <parent link="right_wrist3_Link" />
    <child link="right_tool0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="right_tool0" />
  <joint name="world_to_right_base" type="fixed">
    <parent link="world" />
    <child link="right_base_link" />
    <origin xyz="0 -0.275 0" rpy="0 0 3.141592653589793" />
  </joint>
</robot>