<robot name="fr3c">

  <link name="world"/>

  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
<link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.5389E-05 0.0050006 0.035726"
        rpy="0 0 0" />
      <mass
        value="0.60007" />
      <inertia
        ixx="0.00077666"
        ixy="5.901E-07"
        ixz="4.3886E-07"
        iyy="0.00066312"
        iyz="-1.924E-05"
        izz="0.00080686" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/visual/base_link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/collision/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="shoulder_Link">
    <inertial>
      <origin
        xyz="-0.00016 -0.01399 0.00153"
        rpy="0 0 0" />
      <mass
        value="1.69" />
      <inertia
        ixx="0.00230233"
        ixy="0.00000796"
        ixz="0.00000988"
        iyy="0.00172232"
        iyz="0.00003216"
        izz="0.00230714" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/visual/shoulder_Link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/collision/shoulder_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="shoulder_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0543"
      upper="3.0543"
      effort="110"
      velocity="3.15" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
  <link
    name="upperarm_Link">
    <inertial>
      <origin
        xyz="0.14 0 0.10134"
        rpy="0 0 0" />
      <mass
        value="3.73" />
      <inertia
        ixx="0.00529686"
        ixy="0.00005608"
        ixz="0.00000013"
        iyy="0.07120429"
        iyz="0.00000005"
        izz="0.06998187" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/visual/upperarm_Link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/collision/upperarm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="0 0 0.14"
      rpy="1.5708 0 0" />
    <parent
      link="shoulder_Link" />
    <child
      link="upperarm_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.6251"
      upper="1.4835"
      effort="110"
      velocity="3.15" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
  <link
    name="forearm_Link">
    <inertial>
      <origin
        xyz="0.06324 0.00008 0.01104"
        rpy="0 0 0" />
      <mass
        value="1.84" />
      <inertia
        ixx="0.00224646"
        ixy="0.00000255"
        ixz="0.00000765"
        iyy="0.01764629"
        iyz="0.00000075"
        izz="0.01732032" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/visual/forearm_Link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/collision/forearm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="-0.28 0 3.3292E-05"
      rpy="0 0 0" />
    <parent
      link="upperarm_Link" />
    <child
      link="forearm_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.618"
      upper="2.618"
      effort="110"
      velocity="3.15" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
  <link
    name="wrist1_Link">
    <inertial>
      <origin
        xyz="0.0001 -0.00203 0.01255"
        rpy="0 0 0" />
      <mass
        value="1.2" />
      <inertia
        ixx="0.00131806"
        ixy="-0.00000258"
        ixz="-0.00000247"
        iyy="0.00130342"
        iyz="-0.00002666"
        izz="0.0009916" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/visual/wrist1_Link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/collision/wrist1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="-0.24 0 2.7002E-05"
      rpy="0 0 0" />
    <parent
      link="forearm_Link" />
    <child
      link="wrist1_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.6251"
      upper="1.4835"
      effort="63"
      velocity="3.2" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
  <link
    name="wrist2_Link">
    <inertial>
      <origin
        xyz="-0.0001 0.00203 0.01255"
        rpy="0 0 0" />
      <mass
        value="1.2" />
      <inertia
        ixx="0.00131806"
        ixy="-0.00000258"
        ixz="0.00000247"
        iyy="0.00130342"
        iyz="0.00002666"
        izz="0.0009916" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/visual/wrist2_Link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/collision/wrist2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="1.1476E-05 0 0.102"
      rpy="1.5708 0 0" />
    <parent
      link="wrist1_Link" />
    <child
      link="wrist2_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="6.2657"
      effort="63"
      velocity="3.2" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
  <link
    name="wrist3_Link">
    <inertial>
      <origin
        xyz="-0.00148 -0.00154 -0.0179"
        rpy="0 0 0" />
      <mass
        value="0.53" />
      <inertia
        ixx="0.00033622"
        ixy="0.00000116"
        ixz="0.00000051"
        iyy="0.00033508"
        iyz="0.00000089"
        izz="0.00053494" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/visual/wrist3_Link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fr3c_ros2_control/meshes/fr3c/collision/wrist3_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j6"
    type="revolute">
    <origin
      xyz="1.1255E-05 0.1 0.102"
      rpy="-1.5708 0 0" />
    <parent
      link="wrist2_Link" />
    <child
      link="wrist3_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0543"
      upper="3.0543"
      effort="63"
      velocity="3.2" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper="0"
      soft_lower="0"
      k_position="0"
      k_velocity="0" />
  </joint>
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="j1"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="j2"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="j3"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="j4"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="j5"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="j6"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
  </ros2_control>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <robot_param>robot_description</robot_param>
      <parameters>package://fr3c_ros2_control/config/robot_params.yaml</parameters>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
      <ros>
        <namespace>fr3c</namespace>
        <remapping>joint_states:=joint_states</remapping>
      </ros>
      <update_rate>100</update_rate>
      <joint_name>j1</joint_name>
      <joint_name>j2</joint_name>
      <joint_name>j3</joint_name>
      <joint_name>j4</joint_name>
      <joint_name>j5</joint_name>
      <joint_name>j6</joint_name>
    </plugin>
  </gazebo>

</robot>
